module.exports = {
    YOUTRACK_URL: "https://example.youtrack.cloud",
    SITE_NAME: "MyCompany - ",
    SENDER_NAME: "YouTrackBot",
    WEBHOOK_URL: "https://discord.com/api/webhooks/XXX",
    AVATAR_URL: "https://someimage.com/test.png"
};